@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS begins here
*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Rubik', sans-serif;
  height: 100vh;
}

img {
  width: 100%;
}

a {
  color: darkslategray;
}

a:hover {
  color: olive;
}

.side-panel {
  background-image: url(media/images/gallery_interior.jpg);
  background-position: 70%;
  background-position-y: 42%;
  background-size: 3000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 35%;
  min-width: 300px;
}

.side-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 22vh;
}

.logo-graphic {
  width: 100px;
}

.logo-text {
  font-size: 30px;
  text-align: center;
  padding-right: 30px;
}

.side-credit {
  font-size: 13px;
  margin-bottom: 10px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 65%;
  padding: 22vh 10vw;
  min-width: 650px;
}

.sign-up-instruction {
  margin-bottom: 50px;
}

.form-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 65%;
  margin-bottom: 50px;
}

.submit {
  flex: 1 1 20%;
}

.form-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

/* Row one */
label {
  margin-bottom: 1px;
}

input {
  width: 250px;
  margin-right: 80px;
}

.form-fields-row-one,
.form-fields-row-two,
.form-fields-row-three {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 25px;
}

.last-name,
.first-name,
.email,
.phone-number,
.password,
.confirm-password {
  display: flex;
  flex-direction: column;
}

.submit {
  margin-top: 55px;
}

input[type="submit"] {
  width: 80px;
  padding: 10px;
  margin-bottom: 10px;
  background-color:rgba(47, 79, 79, 0.6);
  font-family: 'Rubik', sans-serif;
  color: black;
}

input[type="submit"]:hover {
  background-color:rgba(47, 79, 79, 1);
  color: white;
  cursor: pointer;
}

.log-in-prompt {
  font-size: 0.9rem;
}